<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.student.layout_test">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ra_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ra_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".bombfuck"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".bombhard"
            android:screenOrientation="landscape"/>
        <activity android:name=".ui.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".settings"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".alarm"
            android:label="@string/app_name" />
        <activity
            android:name=".bomb"
            android:screenOrientation="landscape" />
        <activity
            android:name=".bombmedium"
            android:screenOrientation="landscape" />
        <activity android:name=".ui.AddEditAlarmActivity" />
        <activity android:name=".ui.AlarmLandingPageActivity" />

        <service android:name=".service.LoadAlarmsService" />

        <receiver android:name=".service.LoadAlarmsReceiver" />
        <receiver android:name=".service.AlarmReceiver" />


    </application>

</manifest>