<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.ppartisan.RudeAwakening">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.github.ppartisan.RudeAwakening.ui.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.github.ppartisan.RudeAwakening.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.github.ppartisan.RudeAwakening.ui.AddEditAlarmActivity" />
        <activity
            android:name="com.github.ppartisan.RudeAwakening.ui.AlarmLandingPageActivity"
            android:theme="@style/AlertLandingPageTheme" />

        <service android:name="com.github.ppartisan.RudeAwakening.service.LoadAlarmsService" />

        <receiver android:name="com.github.ppartisan.RudeAwakening.service.LoadAlarmsReceiver" />
        <receiver android:name="com.github.ppartisan.RudeAwakening.service.AlarmReceiver" />
    </application>

</manifest>